@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    
    &__contenido{
        background-color: v.$secundario;
        padding: 2rem;
        
    }
    &__heading{
        font-size: 3rem;
        font-weight: 700;
        color: v.$blanco;
        text-align: center;
    }
    &__informacion{
        color: v.$blanco;
        text-align: center;
        span{
            font-weight: 700;
        }
    }
}